.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.intro-container{
  background-color: #f5f5ed;
  position: relative;
    height: 100vh;
}
.intro-logo-image{
 
  width: 50;
}
.intro-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
}
.intro-caption{
  margin-top: -88px;
}
.intro-caption h1{
  font-family: helvaribold;
  font-size: 50px;
  color: #023d51
  ;
}
.intro-caption p{
  font-size: 20px;
}
.intro-button{
  margin-top: 70px;
}
.intro-button button {
  background-color: #023d51;
  color: white;
  border-radius: 18px;
  width: 150px;
  height: 40px;

}